body {
	text-align: center;
	font-style: Arial;
	color: #A66800;
	font-size: 25px;
}

table {
	border-spacing: 2px;
	font-style: Arial;
	width: 100%;
	border: 2px;
	border-radius: 2px;
}

td {
	text-align: center;
	font-size: 25px;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow;
}

td:hover {
	box-shadow: 0px 5px 15px;
}
#my_table:hover {
	box-shadow: 0px 0px 0px;
}
tbody td {
	border: 1px solid;
	width: 30%
}

thead td {
	background-color: #FFE7D8;
	border-radius: 5px;
	border-bottom: 2px solid;
	font-weight: bold;
}

.but {
	width: 200px;
	height: 40px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 8px;
	font-size: 18px;
	border: 0px;
	border-radius: 10px;
	outline: 0 !important;
	background-color: #87CEFA;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow background-color;
}

.but:hover {
	box-shadow: 0px 2px 8px;
	background-color: #87CEFA;
}

.but:active {
	box-shadow: inset 0px 0px 10px;
	background-color: #E0FFFF;
}

.butt {
	width: 400px;
	height: 80px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 16px;
	font-size: 20px;
	border: 0px;
	border-radius: 20px;
	outline: 0 !important;
	background-color: #87CEFA;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow background-color;	
}
.butt:hover {
	box-shadow: 0px 2px 8px;
	background-color: #87CEFA;
}
.butt:active {
	box-shadow: inset 0px 0px 10px;
	background-color: #E0FFFF;
}

.butt2{
	width: 100px;
	height: 20px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 16px;
	font-size: 10px;
	border: 0px;
	border-radius: 20px;
	outline: 0 !important;
	background-color: #87CEFA;
	transition-duration: 200ms;
	transition-timing-function: ease;
	transition-property: box-shadow background-color;	
}
.butt2:hover {
	box-shadow: 0px 2px 8px;
	background-color: #87CEFA;
}
.butt2:active {
	box-shadow: inset 0px 0px 10px;
	background-color: #E0FFFF;
}

.quali {
	outline: 0 !important;
	border: 0px;
	border-radius: 5px;
	width: 140px;
	height: 25px;
	background-color: #87CEFA;
	font-size: 20px;
	font-weight: bold;
}

.quali:hover {
	box-shadow: 0px 2px 8px;
}

.texti {
	outline: 0;
	border: 0px;
	padding-left: 5px;
	width: 140px;
	background: #87CEFA; 
	font-size: 20px; 
	border-radius: 5px;	
}

.text1 {
	outline: 0;
	border: 0px;
	padding-left: 5px;
	width: 140px;
	background: #87CEFA; 
	font-size: 12px; 
	border-radius: 5px;	
}

.texti:hover {
	box-shadow: 0px 2px 8px;
}

.texti:focus {
	box-shadow: 0px 2px 8px;
}
.popup{
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 50px;	
}
.popup .popuptext{
	visibility:hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;	
}
.popup .popuptext::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555;	
}
.popup .show{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}	
}
@keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}	
}